<configuration debug="false" scan="false" scanPeriod="30 seconds">
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <appender name="MyCustomAppender" class="com.bosch.iot.hub.examples.management.ui.LogbackOutputStreamAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="com.bosch.iot.hub" level="INFO"
           additivity="false">
      <appender-ref ref="STDOUT"/>
   </logger>

   <logger name="com.bosch.iot.hub.message.log" level="INFO"
           additivity="true">
      <appender-ref ref="MyCustomAppender"/>
   </logger>


   <root level="${LOG_LEVEL:-INFO}">
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>